.cart-page {
  width: 100em;
  font-size: 1rem;
  margin: 0 auto;
}

.cart-header {
  border: none;
  background: transparent;
  margin-bottom: 1rem;
  padding: 1.5rem;
}

.cart-header h1 {
  padding: 0;
}

.cart-header button {
  background: var(--button-2-color);
  font-size: 1.4rem;
  width: 15rem;
  height: 3rem;
}

.cart-header button:hover {
  background: var(--button-2-hover);
}

.ch2 {
  display: flex;
  justify-content: center;
}

.ch2 h1 {
  margin-right: 30px;
}

.cart {
  background: white;
  border: 1px solid var(--light-border-color);
  width: 100%;
  border-radius: 5px;
  padding: 3em;
  box-sizing: border-box;
  display: flex;
  margin-bottom: 3rem;
}

.cart-items {
  width: 70em;
  box-sizing: border-box;
  border-right: 1px solid var(--light-border-color);
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  margin-right: 3rem;
  font-size: 1.6rem;
}

.cart-item-details {
  color: gray;
  width: 20rem;
}

.cart-item-details * {
  margin-bottom: 1rem;
}

.cart-item-title {
  font-weight: bold;
  font-size: 1.8rem;
  color: black;
  display: block;
}

.cart-item-title:hover {
  text-decoration: underline;
}

.cart-item-img {
  width: 200px;
  border-radius: 5px;
}

.remove-link {
  color: var(--blue-link);
}

.remove-link:hover {
  text-decoration: underline;
}

.cart-quantity {
  width: 8rem;
}

.cart-item-price {
  color: var(--price-color);
  width: 8rem;
  text-align: right;
}

.cart-item-ind-price {
  color: var(--grayed-text);
  font-size: 1.2rem;
  margin-top: 5px;
}

.cart-calculations {
  width: 30em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 2em;
  padding-right: 0;
  line-height: 2em;
}

.grand-total {
  border-top: 1px solid var(--light-border-color);
  margin-top: 5px;
  padding-top: 5px;
}

.cart-calculations p {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
}
