/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Cabin', sans-serif;
  font-size: 14px;

  --light-border-color: #DADBD6;
  --button-1-color: #34A8C4;
  --button-1-hover: #48b0c9;
  --text-border-top-left: #c2c2c2;
  --text-border-bottom-right: #e6e6e6;
  --link-text: white;
  --link-text-background: #256574;
  --header-background: #0d5465;
  --light-background: #9ebac1;
}

h1 {
  font-size: 48px;
  padding: 20px;
}

.session-tabs-box {
  width: 580px;
  box-sizing: border-box;
  background: var(--light-background);
  border: 1px solid var(--light-border-color);
  border-radius: 5px;
  margin: 0 auto;
}

.session-tabs {
  margin-top: 20px;
  margin-left: 40px;
  display: flex;
  border-left: 1px solid var(--light-border-color);
}

.session-tab {
  width: 80px;
  height: 40px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--light-border-color);
  border-right: 1px solid var(--light-border-color);
  z-index: 1;
}

.session-tab:hover {
  text-decoration: underline;
  cursor: pointer;
}

.inactive {
  background: var(--header-background);
  border-bottom: 1px solid var(--light-border-color);
  color: var(--link-text);
}

.active {
  border-bottom: 1px solid white;
}

.session-form-box {
  position: relative;
  top: -1px;
  display:block;
  background: white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: 1px solid var(--light-border-color);
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.text {
  display: block;
  width: 230px;
  border: 1px solid var(--text-border-top-left);
  border-right: 1px solid var(--text-border-bottom-right);
  border-bottom: 1px solid var(--text-border-bottom-right);
  margin: 3px 0px;
  padding: 6px;
}

.radio-buttons {
  display: flex;
  justify-content: space-between;
  width: 230px;
}

.session-form label {
  display: block;
  padding: 6px 0px;
}

.modal {
  width: 580px;
  height: auto;
  margin: 0 auto;
  position: relative;
  top: 40px;
}

.logo {
  font-size: 24px;
  color: white;
}

.error {
  color: red;
}

.button {
  background: var(--button-1-color);
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  width: 230px;
  height: 35px;
  margin-top: 10px;
}

.button:hover {
  background: var(--button-1-hover);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 10px 30px;
  border-bottom: 1px solid var(--light-border-color);
  background: var(--header-background);
  font-size: 16px;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  padding: 10px;
}

.nav-link, .login-link {
  color: var(--link-text);
}

.nav-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.login-link {
  border: thin solid var(--link-text);
  border-radius: 5px;
  margin: 0px 10px;
}

.login-link:hover {
  background: var(--link-text-background);
}
