/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  font-size: 62.5%;
}

body {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 1.6rem;
  background: #c4d5d9;

  --light-border-color: #DADBD6;
  --button-1-color: #ff9100;
  --button-1-hover: #ffae19;
  --button-2-color: #813772;
  --button-2-hover: #9a5e8e;
  --text-border-top-left: #c2c2c2;
  --text-border-bottom-right: #e6e6e6;
  --link-text: white;
  --link-text-background: #256574;
  --header-background: #0d5465;
  --light-background: #9ebac1;
  --price-color: #609934;
  --grayed-text: #a1a1a1;
  --light-gray-background: #ecedea;
  --add-photo: #deeff5;
}

h1 {
  font-size: 32px;
  padding: 20px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.logo {
  width: 150px;
}

.error {
  color: red;
}

.button {
  background: var(--button-1-color);
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  width: 230px;
  height: 35px;
  display: block;
  margin-top: 10px;
}

.button:hover {
  background: var(--button-1-hover);
}

.full-width-button {
  width: 100%;
  height: 4rem;
  padding: 1rem;
  margin-top: 2rem;
  box-sizing: border-box;
  font-size: 1.6rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 10px 30px;
  border-bottom: 1px solid var(--light-border-color);
  background: var(--header-background);
  font-size: 18px;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  padding: 10px;
}

.nav-link, .login-link {
  color: var(--link-text);
}

.nav-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.login-link {
  border: thin solid var(--link-text);
  border-radius: 5px;
  margin: 0px 10px;
  cursor: pointer;
}

.login-link:hover {
  background: var(--link-text-background);
}

.cart-link {
  display: flex;
  flex-direction: column;
  width: 25px;
  height: 20px;
  color: var(--link-text);
  padding: 0px 15px;
  align-items: center;
}

.cart-icon {
  background: white;
  max-width:100%;
  max-height:100%;
  margin-bottom: 3px;
}

.cart-link:hover .cart-icon {
  background: var(--light-background);
}

.cart-link:hover {
  color: var(--light-background);
  cursor: pointer;
}
