<!DOCTYPE html>
<html>
<head>
  <title>Techsy</title>
  <link href="https://fonts.googleapis.com/css?family=Cabin|Catamaran|Josefin+Sans|Lato|Open+Sans|Quattrocento+Sans|Raleway|Varela+Round" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
